# First

- install direnv

```
brew install direnv
```

- bundle install

```console
$ bundle install --path=vendor/bundle --binstubs=.bundle/bin
```

# autotest

```console
$ guard
```

# autodoc

```console
$ AUTODOC=1 rspec
```
